!!!
%html
  %head
    %title Chrisbim
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      #page
        #logo
          = link_to image_tag('logo.gif'), root_url
          
        #navbar
          - links=[home_url,about_me_url,news_url,gallery_url,workshops_url,comments_url,links_url,contact_url ]
          - links.each do |link|          
            = link_to title(link), link
          
        #content
          = yield
          %hr
          %p This is only a sample to test if Hostmonster works with Rails 3
          %hr
        #footer
          &copy; Chris Beard Photography 2011
    #dump
      %p= current_user.inspect      
      %p= current_user_session.inspect
      - if current_user
        = link_to 'Logout', logout_path
      - else
        = link_to 'Login', login_path
      %p= params.inspect
